<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue JS without CLI</title>
    <!--Installation script -->
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
      .box {
        padding: 100px 0;
        width: 400px;
        text-align: center;
        background: #ddd;
        margin: 20px;
        display: inline-block;
      }
      img {
        max-width: 75px;
      }
    </style>
  </head>
  <body>
    <h1>Hello Vue.JS</h1>
    <div id="root">
      <!--Can be handled by Vue app since it's inside the root-->
      <!--Conditional rendering directive (if true renders)-->
      <!--Other way with v-show directive-->
      <!--v-show uses CSS while v-if removes from DOM-->
      <!--v-show is better for elements that will be shown and hidden many times-->
      <div v-if="showAlbums">
        <ul>
          <!--v-for directive, iterates the element of the declaration with the element accesible-->
          <li v-for="album in albums">
            <!--Other way of attribute bind includes only using :attribute-->
            <img :src="album.imageUrl" :alt="album.alt" />
            <h3>
              <!--Attribute binding-->
              <!--v-bind:attribute-->
              <a v-bind:href="album.bandcampUrl">{{album.title}}</a>
              ({{album.date}})
            </h3>
            <p>{{album.author}}</p>
            <p>Views: {{album.views}}</p>
          </li>
        </ul>
      </div>
      <button @click="toggleShowAlbums"><span>{{buttonText}}</span></button>
      <br />
    </div>
    <script src="app.js"></script>
  </body>
</html>
